<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown zero-raduis">
  	  <div id="formContent">
  	    <!-- Tabs Titles -->

  	    <!-- Icon -->
  	    <div class="fadeIn first">
			<img src="https://i.imgur.com/Kjcuuk4.png" id="icon" alt="User Icon" style="margin-top: 20px; margin-bottom: 20px;">
			<h4 style="margin-bottom: 20px;">LOGIN</h4>
  	    </div>

  	    <!-- Login Form -->
  	    <form>
  	      <input type="email" id="usuario" class="fadeIn second zero-raduis" name="usuario" placeholder="Entre com o e-mail" [(ngModel)]='userLogin.usuario'>
            <input type="password" id="password" class="fadeIn third zero-raduis" name="password" placeholder="Entre com a senha" [(ngModel)]='userLogin.senha'>
		      <div id="formFooter">
  	      </div>
  	      <input type="submit" class="fadeIn fourth" value="login" style="border-radius: 20px; margin-top: 10px;" (click)='entrar()'>
  	      <h2>Não tem uma conta?</h2>
            <input type="button" class="fadeIn fourth pc" value="Criar conta" style="border-radius: 20px;" routerLink='/cadastro'>
  	    </form>
  	    

  	  </div>
  </div>