<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown zero-raduis">
  	  <div id="formContent">
  	    <!-- Tabs Titles -->

  	    <!-- Icon -->
  	    <div class="fadeIn first" style="justify-content: center;">
    
            
  	     
  	    </div>

		  <!-- Cadastro Form -->
		  <h2 style="margin: 20px;">Faça seu cadastro</h2>
		  <form>
		 <input type="text" id="nome" class="fadeIn second zero-raduis" name="nome" placeholder="Entre com seu nome" style="margin: 20px;" [(ngModel)]='user.nome'>
			<input type="email" id="usuario" class="fadeIn second zero-raduis" name="usuario" placeholder="Entre com seu email" style="margin: 20px;" [(ngModel)]='user.usuario'>
			
            <input type="password" id="password" class="fadeIn third zero-raduis" name="password" placeholder="Entre com a senha" style="margin: 20px;" (input)='conferirSenha($event)' value="{{senha}}">
            <input type="password" id="password" class="fadeIn third zero-raduis" name="password" placeholder="Confirmar senha" style="margin: 20px;" [(ngModel)]='user.senha'>
		      <div id="formFooter">
  	      </div>
  	      <input type="submit" class="fadeIn fourth" value="Cadastrar-se" style="border-radius: 20px; margin: 30px;" (click)='cadastrar()'>
  	    </form>
  	    

  	  </div>
  </div>
