
<div class="card border-0" style="width: 15rem;">

    <div class="d-flex justify=content-center">
        <img class="card-img-top rounded-circle w-80" src="https://p1.hiclipart.com/preview/658/470/455/krzp-dock-icons-v-1-2-empty-grey-empty-text-png-clipart.jpg" alt="Imagem de capa do card">
    </div>

    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Aluno Generation Brasil</p>
        
      <a href="#" class="btn btn-outline-info mb-3 d-flex justify-content-center">Linkedin</a>
      <a href="#" class="btn btn-outline-dark mb-3 d-flex justify-content-center">GitHub</a>
    </div>
  </div>
