<nav class="navbar navbar-expand-lg navbar-light bg-white shift p-0 w-100">
  <a class="navbar-brand pl-4" routerLink="/home"><img src="https://i.imgur.com/psuzfmJ.png" alt="logo site" width="60px"
      height="60px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/sobre">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contato</a>
      </li>

      <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Categorias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" style="right: 10px;" href="#">Alimenticio</a>
          <a class="dropdown-item" style="right: 10px;" href="#">Educação</a>
          <a class="dropdown-item" style="right: 10px;" href="#">Pets</a>
          <a class="dropdown-item" style="right: 10px;" href="#">Reparo & Construção</a>
          <a class="dropdown-item" style="right: 10px;" href="#">Saúde</a>
          <a class="dropdown-item" style="right: 10px;" href="#">Serviços gerais</a>
        </div>
      </li>

      

    </ul>
   <ul class="navbar-nav ml-auto">
    <div *ngIf='auth.btnLogin()'>
      <li  class="nav-item">
        <a class="nav-link" id="login" routerLink='/login'>Login</a>
      </li>
    </div>

    <div *ngIf='auth.btnSair()'>
      <li class="nav-item">
        <a class="nav-link" id="sair" (click)='sair()'>Sair</a>
      </li>
    </div>
   </ul>
  </div>
</nav>