<!--Ideia de conteúdo: descrever a ideia / pitch do projeto-->
<div class="container">
    <div class="row mt-5 w-100">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">SOBRE O PROJETO</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row mt-5 w-100">
            <div class="col-md-6">
                <img src="https://imgur.com/6ZJQVPS.jpg" class="w-100" alt="Imagem ilustrativa">
            </div>

            <div class="col-md-6">
                <p class="text-justify font-weight-light">
                    A pandemia chegou e causou muitas mudanças na nossa sociedade como um todo, e com ela veio uma
                    demissão
                    em massa
                    para os mais diferentes setores. Várias famílias tiveram que se reinventar para gerar renda, muitas
                    optaram por
                    abrir um negocio próprio para fechar as contas do mês. Algumas delas oferecem um bom serviço, porém
                    não
                    tem muita
                    noção de como divulgar o seu negócio. Outros ainda utilizam formas de divulgação um pouco antigas e
                    não
                    sustentáveis,
                    como os folhetos e é nisso que nosso software entra.
                </p>
                <p class="text-justify font-weight-light">
                    Nosso projeto foi escolhido, pois é um problema muito pertinente no nosso contexto atual. Escolhemos
                    o
                    e-commerce pois
                    é algo bem familiar para os possíveis usuários e será prático de implementar.
                    O software, a principio, será direcionados a empreendedores que moram em condomínios (que trabalham
                    em
                    casa) e áreas próximas do mesmo.
                    Será dedicado a prestação e contratação de serviços, contudo será aberto a todos os moradores do
                    próprio
                    condomínio e de regiões vizinhas.
                    De maneira bem amigável e democrática, pretendemos assim ajudar na valorização do empreendedor
                    autônomo
                    e seus serviços.
                </p>
            </div>
        </div>
    </div>
</div>

<!--Ideia de conteúdo: descrever como funciona o sistema-->
<div class="container">
    <div class="row mt-5 w-100">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">COMO FUNCIONA</h1>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row mt-5 w-100">
            <div class="col-md-6">
                <p class="text-justify font-weight-light">
                    A pandemia chegou e causou muitas mudanças na nossa sociedade como um todo, e com ela veio uma
                    demissão
                    em massa
                    para os mais diferentes setores. Várias famílias tiveram que se reinventar para gerar renda, muitas
                    optaram por
                    abrir um negocio próprio para fechar as contas do mês. Algumas delas oferecem um bom serviço, porém
                    não
                    tem muita
                    noção de como divulgar o seu negócio. Outros ainda utilizam formas de divulgação um pouco antigas e
                    não
                    sustentáveis,
                    como os folhetos e é nisso que nosso software entra.
                </p>
                <p class="text-justify font-weight-light">
                    Nosso projeto foi escolhido, pois é um problema muito pertinente no nosso contexto atual. Escolhemos
                    o
                    e-commerce pois
                    é algo bem familiar para os possíveis usuários e será prático de implementar.
                    O software, a principio, será direcionados a empreendedores que moram em condomínios (que trabalham
                    em
                    casa) e áreas próximas do mesmo.
                    Será dedicado a prestação e contratação de serviços, contudo será aberto a todos os moradores do
                    próprio
                    condomínio e de regiões vizinhas.
                    De maneira bem amigável e democrática, pretendemos assim ajudar na valorização do empreendedor
                    autônomo
                    e seus serviços.
                </p>
            </div>

            <div class="col-md-6">
                <img src="https://imgur.com/6ZJQVPS.jpg" width="550px" alt="Imagem ilustrativa">
            </div>
        </div>
    </div>
</div>

<!--Perfil da equipe-->
    <div class="row mt-5 w-100">
        <div class="col-md-12">
            <h1 class="text-monospace text-center mb-5">NOSSA EQUIPE</h1>
            <app-perfil-lateral></app-perfil-lateral> <!-- Rota do Perfil Lateral-->
        </div>
    </div>