<!-- Carrousel -->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block carrousel" src="https://www.solidbackgrounds.com/images/1024x768/1024x768-cornflower-blue-solid-color-background.jpg" alt="Primeiro Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block carrousel" src="https://www.solidbackgrounds.com/images/1024x768/1024x768-medium-purple-solid-color-background.jpg" alt="Segundo Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block carrousel" src="https://www.solidbackgrounds.com/images/1024x768/1024x768-jelly-bean-solid-color-background.jpg" alt="Terceiro Slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>

  <!-- Card Decker -->
  <div class="mt-5">
  <h2 class="ml-5">Destaques da semana!</h2>
  
  <div class="row d-flex justify-content-center card-deck p-5">
  <div class="card transition" style="width: 18rem;">
    <img class="card-img-top" src="https://i.imgur.com/i15aZRY.jpg" alt="Imagem de capa do card" >

    <div class="card-body">
        <small class="text-muted">Usuario</small>
        <hr>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      <a routerLink="/produto" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card transition" style="width: 18rem;">
    <img class="card-img-top" src="https://e1.pngegg.com/pngimages/658/470/png-clipart-krzp-dock-icons-v-1-2-empty-grey-empty-text-thumbnail.png" alt="Imagem de capa do card">

    <div class="card-body">
        <small class="text-muted">Usuario</small>
        <hr>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card transition" style="width: 18rem;">
    <img class="card-img-top" src="https://e1.pngegg.com/pngimages/658/470/png-clipart-krzp-dock-icons-v-1-2-empty-grey-empty-text-thumbnail.png" alt="Imagem de capa do card">

    <div class="card-body">
        <small class="text-muted">Usuario</small>
        <hr>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card transition" style="width: 18rem;">
    <img class="card-img-top" src="https://e1.pngegg.com/pngimages/658/470/png-clipart-krzp-dock-icons-v-1-2-empty-grey-empty-text-thumbnail.png" alt="Imagem de capa do card">

    <div class="card-body">
        <small class="text-muted">Usuario</small>
        <hr>
      <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
</div>
</div>