<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  
</head>
<body>
  
</body>
</html>


<!-- Footer -->
<footer class="page-footer font-small bg-primary mt-5">

  <div style="background-color: #bd2e2f">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Se conecte conosco nas redes sociais.</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
         
          <!-- Twitter -->
          
          <!-- Google +-->
          
          <!--Linkedin -->
          
          <!--Instagram-->
          
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Find Workers</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Com o objetivo de ajudar as pessoas nessa pandemia, nossa plataforma visa divulgar trabalhos 
          informais dentro de determinados bairros e condominios aquecendo assim a economia da região.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Categorias</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Alimenticios
        </p>
        <p>
          Educação
        </p>
        <p>
          Pets
        </p>
        <p>
          Reparo e Construção
        </p>

        <p>
          Saude
        </p>

        <p>
          Serviço Gerais
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contato</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          Av. paulista nº2000
        </p>
        <p>
           findworkers@heroku.com
        </p>
        <p>
         +55 11 95178-2216
        </p>
        <p>
           +55 11 94783-1569
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 justify-content-end">
        <p>
          <img class="tamanho ml-10 "src="https://i.imgur.com/S7pgaGe.pngfa ">
        </p>
        <p>
          <img class="tamanho ml-10 "src="https://i.imgur.com/NscGC7U.png">
        </p>
        <p>
          <img class="tamanho ml-10 "src="https://i.imgur.com/bjjGINL.png">
        </p>
        <p>
          <img class="tamanho ml-10 "src="https://i.imgur.com/sOGkp8l.png">
        </p>
        <p>
          <img class="tamanho ml-10 "src="https://i.imgur.com/optBAuo.png">
        </p>

        <!-- Links -->
        

      </div>
      

      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  
  <!-- Copyright -->

</footer>
<!-- Footer -->